@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
.theme-transition *,
.theme-transition *::before,
.theme-transition *::after {
  transition-property: color, background-color, border-color, fill, stroke,
    opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: var(--transition-duration);
}
